# exclude python packaging files
/dist/
/MANIFEST

# exclude pycache directory
/__pycache__

# exclude generated .pyc file
/tagui.pyc

# exclude entry flow log files
/tagui_python.log
/tagui_python.raw
/tagui_python.js
