# exclude python packaging files
/dist
/MANIFEST
/tagui.egg-info
/rpa_package/dist
/rpa_package/MANIFEST
/rpa_package/rpa.egg-info

# exclude pycache directory
/__pycache__
/rpa_package/__pycache__

# exclude generated .pyc file
/tagui.pyc
/rpa_package/rpa.pyc

# exclude entry flow and logs
/rpa_python
/rpa_python.log
/rpa_python.raw
/rpa_python.js

# exclude entry flow output file
/rpa_python.txt

# exclude custom js functions 
/tagui_local.js
