# exclude python packaging files
/dist
/MANIFEST
/tagui.egg-info

# exclude pycache directory
/__pycache__

# exclude generated .pyc file
/tagui.pyc

# exclude entry flow and logs
/tagui_python
/tagui_python.log
/tagui_python.raw
/tagui_python.js

# exclude entry flow output file
/tagui_python.txt

# exclude custom js functions 
/tagui_local.js
